.startIn {
  // background-color: rgba(0, 255, 170, 0.705);
  place-items: center;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  font-size: 1.1vw;
  font-weight: 600;
  line-height: 0.9;
  color: white;
  display: grid;
  height: 6.7vw;
  right: 0.2vw;
  width: 7.2vw;
  top: 0;
}
